name: Benchmarks
permissions:
  contents: read
on:
  push:
    branches:
      - "master"
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:
jobs:
  list-benchmarks:
    name: List benchmarks
    runs-on: ubuntu-latest
    outputs:
      benchmarks: ${{ steps.list.outputs.benchmarks }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
      - id: list
        run: |
          all_pkgs=$(go list ./...)
          benches=()
          for pkg in $all_pkgs; do
            bench_list=$(go test -list '^Benchmark' "$pkg" | grep '^Benchmark' || true)
            if [ -n "$bench_list" ]; then
              while IFS= read -r bench; do
                benches+=("$pkg:$bench")
              done <<< "$bench_list"
            fi
          done
          json=$(printf '%s\n' "${benches[@]}" | jq -c -R -s 'split("\n")[:-1] | map( split(":") | {package: .[0], bench: .[1], short: (.[0] | gsub("^github.com/quic-go/quic-go/"; "") | if . == "" then "." else . end)} )')
          echo "benchmarks=$json" >> $GITHUB_OUTPUT

  benchmarks:
    name: Run ${{ matrix.bench.bench }} (${{ matrix.bench.short }})
    needs: list-benchmarks
    runs-on: codspeed-macro
    strategy:
      matrix:
        bench: ${{ fromJson(needs.list-benchmarks.outputs.benchmarks) }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: walltime
          run: go test -run=^$ -bench='^${{ matrix.bench.bench }}$' ${{ matrix.bench.package }}
          token: ${{ secrets.CODSPEED_TOKEN }}
